# application-local.yml

server:
  servlet:
    session:
      cookie:
        name: EXTERNAL_JSESSIONID # local일 경우 사용(localhost로 여러개의 서버가 실행 될 경우 세션이 꼬임)

  error:
    include-message: always
    include-stacktrace: always

# 각 Profile의 변수
variable:
  # eureka-client profile
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
    instance:
      hostname: sample.local  # 해당 서비스의 hostname

  # 인증서버의 OAuth2 정보
  auth:
    client-id: ext-client
    client-secret: ext-secret
    scope: resource.read resource.write
---
spring:
  config:
    activate:
      on-profile: "local & !gateway"  # Standalone

# 각 Profile의 변수
variable:
  auth:
    base-url: http://localhost:9000/auth
  resource:
    base-url: http://localhost:8090/api

---
spring:
  config:
    activate:
      on-profile: "local & gateway"

# 각 Profile의 변수
variable:
  auth:
    base-url: http://sample.local:8000/auth
  resource:
    base-url: http://sample.local:8000/api
