# application-local.yml

server:
  servlet:
    session:
      cookie:
        path: /
        http-only: true
        same-site: Lax   # (gateway/외부 도메인 섞이면 None+Secure 고려)
        secure: false    # https면 true
  error:
    include-message: always
    include-stacktrace: always

variable:
  app:
    security:
      client-id: ext-client
      client-secret: ext-secret
      scope: resource.read resource.write
    auth:
      port: 9000
      base-url: http://localhost:${variable.app.auth.port}/auth
    resource:
      port: 8090
      base-url: http://localhost:${variable.app.resource.port}/api
---
spring:
  config:
    activate:
      on-profile: gateway

variable:
  app:
    gateway:
      port: 8000
    auth:
      port: ${variable.app.gateway.port}
    resource:
      port: ${variable.app.gateway.port}
---
spring:
  config:
    activate:
      on-profile: web

variable:
  web:
    # web > redis profile
    redis:
      host: localhost
      port: 6379
