# application-local.yml

# 각 Profile의 변수
variable:
  # eureka-client profile
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
    instance:
      hostname: localhost  # 해당 서비스의 hostname

  jwt:
    issuer-uri: http://localhost:8000/auth # 토큰의 iss 필드와 비교할 '값' (Gateway(8000) 유지)
    jwk-set-uri: http://localhost:9000/auth/oauth2/jwks # 실행 시 공개키를 가져올 '실제 주소'
  cloud:
    routes:
      auth-front:
        base-uri: http://localhost:5173/authf/
