# application-local.yml

server:
  servlet:
    session:
      cookie:
        path: /
        http-only: true
        same-site: Lax   # (gateway/외부 도메인 섞이면 None+Secure 고려)
        secure: false    # https면 true

variable:
  app:
    issuer:
      port: 9000
      url: http://localhost:${variable.app.issuer.port}/auth
---
spring:
  config:
    activate:
      on-profile: gateway

variable:
  app:
    gateway:
      port: 8000
    issuer:
      port: ${variable.app.gateway.port}
---
spring:
  config:
    activate:
      on-profile: persistence

variable:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/sample?currentSchema=auth,sample,public
    username: sample
    password: sample
  jpa:
    ddl-auto: update
---
spring:
  config:
    activate:
      on-profile: web

variable:
  web:
    # web > redis profile
    redis:
      host: localhost
      port: 6379
