# application-local.yml

server:
  servlet:
    session:
      cookie:
        name: AUTH_JSESSIONID # local일 경우 사용(localhost로 여러개의 서버가 실행 될 경우 세션이 꼬임)
        path: /
        http-only: true

spring:
  # local에서만 개발용으로 사용
  thymeleaf:
    cache: false
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false

# 각 Profile의 변수
variable:
  # persistence profile
  datasource: # database 접속 정보
    jdbc-url: jdbc:postgresql://localhost:5432/sample?currentSchema=auth,sample,public
    username: sample
    password: sample
  jpa:  # JPA DDL AUTO 정보
    ddl-auto: update

  # eureka-client profile
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
    instance:
      hostname: localhost  # 해당 서비스의 hostname
---
spring:
  config:
    activate:
      on-profile: "local & !gateway"  # Standalone

# 각 Profile의 변수
variable:
  issuer-url: http://localhost:9000/auth
  auth-bff: # 인증 BFF 서버정보(로그인 후 redirect용)
    #    base-url: http://localhost:9000/auth
    base-url: http://localhost:9001/authb
---
spring:
  config:
    activate:
      on-profile: "local & gateway"

# 각 Profile의 변수
variable:
  issuer-url: http://localhost:8000/auth
  auth-bff: # 인증 BFF 서버정보(로그인 후 redirect용)
    #    base-url: http://localhost:8000/auth
    base-url: http://localhost:8000/authb
