# application-local.yml

spring:
  # local에서만 개발용으로 사용
  thymeleaf:
    cache: false
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false

server:
  servlet:
    session:
      cookie:
        path: /
        http-only: true
        same-site: Lax   # (gateway/외부 도메인 섞이면 None+Secure 고려)
        secure: false    # https면 true

variable:
  app:
    issuer:
      port: 9000
      base-url: http://localhost:${variable.app.issuer.port}/auth

    default-success:
      port: 9001
      base-url: http://localhost:${variable.app.default-success.port}/authb
---
spring:
  config:
    activate:
      on-profile: gateway

variable:
  app:
    gateway:
      port: 8000
    issuer:
      port: ${variable.app.gateway.port}
    default-success:
      port: ${variable.app.gateway.port}
---
spring:
  config:
    activate:
      on-profile: persistence

variable:
  datasource:
    jdbc-url: jdbc:postgresql://localhost:5432/sample?currentSchema=auth,sample,public
    username: sample
    password: sample
  jpa:
    ddl-auto: update
---
spring:
  config:
    activate:
      on-profile: web

variable:
  web:
    # web > redis profile
    redis:
      host: localhost
      port: 6379
